[ {
	  erltipbase ,
	  [
		  { data_dir, <<"data">> },
		  { version, <<"0.1">>},
		  { restapi_external_secure, true},
		  { restapi_external_uri, <<"https://mydomain.com:16061">>},
		  { restapi_external_cert, "certs/restapi-cert.pem" },
		  { restapi_external_key, "certs/restapi-key.pem" },
		  { restapi_external_ca, "certs/restapi-ca.pem" },
		  { restapi_internal_uri, <<"https://mydomain.com:17061">>},
		  { restapi_internal_cert, "certs/restapi-cert.pem" },
		  { restapi_internal_key, "certs/restapi-key.pem" },
		  { restapi_internal_ca, "certs/restapi-ca.pem" },
		  { kafka_endpoint, <<"localhost:9093">> }
	  ]}
	,
	{lager,
	 [
		 {log_root, "logs"},
		 {colored,true},
		 {handlers,
		  [
			  {lager_console_backend, [{level,error}]},
			  {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
			  {lager_file_backend, [{file, "info.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
			  {lager_file_backend, [{file, "warning.log"}, {level, warning}, {size, 10485760}, {date, "$D0"}, {count, 5}]}
		  ]}
	 ] },
	{brod,
	  [ { clients
		    , [ { brod_client_1 %% registered name
			        , [ { endpoints, [{"main.arilia.com", 9093}]}
			          , { reconnect_cool_down_seconds, 10} %% socket error recovery
			          , { query_api_versions, false}
		          ]
		        }
	      ]
	    }
	    %% start another client for another kafka cluster
	    %% or if you think it's necessary to start another set of tcp connections
	  ]
	}
].

